.card-cast-data {
    max-width: 181px;
    border: 20px solid #4f4f60;
    background-color: #4f4f60;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: none;
}

.card-cast-data img {
    max-width: 181px;
    object-fit: contain;
    border-radius: 10px;
}

.card-cast-data:hover {
    border: 20px solid #373745;
    background-color: #373745;
}

.spacing-cast-card {
    margin: 8px 0px;
}

.cast-characterName-card {
    font-size: 12pt;
}

@media (max-width: 500px) {
    .card-cast-data img {
        max-width: 118px;
    }

    .card-cast-data {
        max-width: 118px;
        font-size: 10pt;
    }
}