body {
  background-color: rgb(41, 43, 52);
}

.main-container {
  height: 79vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.page-title {
  font-size: 4.5rem;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  flex: 1;
  gap: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  justify-content: center;
}

.featured-list-container {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
  aspect-ratio: 11 / 4;
  border-radius: 10px;
  justify-content: center;
}

.featured-backdrop {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.featured-movie-title {
  font-weight: bold;
  font-size: 3rem;
  width: 100%;
  padding: 2rem;
}

.movies-list {
  margin-top: -55px;
}

.title-movies-h1-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 20px;
  visibility: hidden;
}

.Movies-Title-Description {
  justify-content: center;
  height: 100%;
  padding: 70px;
  display: flex;
  background-color: rgba(53, 58, 63, 0.8);
}

.Title-Description-Box {
  width: 800px;
  margin-left: 10px;
}

.overview-movies-p {
  width: 100%;
}

.PostPath-Img {
  width: 20%;
}

.img-postpath-auto{
  width: 100%;
  height: fit-content;
  border-radius: 20px;
}

.title-text-movie-lists {
  font-size: 30pt;
  text-align: center;
  color: white;
}

@media (max-width: 500px) {
  .main-container {
    height: 78vh;
  }
  .featured-movie-title {
    font-size: 12pt;
  }
}