.ResetPassword-Form {
    position: relative;
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.ResetPassword-Form h1.text-title-reset {
    font-size: 1.8rem;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ResetPassword-Form .box-form-reset {
    text-align: left;
}

.ResetPassword-Form .box-form-reset label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555555;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.ResetPassword-Form .box-form-reset input[type="email"],
.ResetPassword-Form .box-form-reset input[type="password"] {
    width: calc(100% - 20px);
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: border 0.3s;
    text-align: left;
}

.button-box-reset {
    padding: 10px;
    text-align: center;
}

.text-danger-reset {
    font-size: 0.85rem;
    color: #ff4d4f;
    text-align: left;
    display: block;
}

.text-message-box {
    width: 100%;
    height: 40px;
    background-color: #ffa0a1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #ff4d4f solid 1px;
    color: #ffffff;
}

.ResetPassword-Form .btn {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

.ResetPassword-Form .btn:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
    transform: translateY(-3px);
}

.ResetPassword-Form .btn:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

.error-display {
    width: 100%;
    height: 17px;
    padding: 2px;
}

.cancel-reset-btn {
    position: absolute;
    top: 0;
    right: 12px;
    color: #ffffff;
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.cancel-reset-btn:hover {
    color: #707294;
}

@media (max-width: 500px) {
    .ResetPassword-Form {
        width: 300px;
        height: auto;
    }

    .ResetPassword-Form h1.text-title-reset {
        font-size: 1.3rem;
    }

    .ResetPassword-Form .box-form-reset label {
        font-size: 1.0rem;
        margin-top: -8px;
    }

    .ResetPassword-Form .box-form-reset input[type="text"],
    .ResetPassword-Form .box-form-reset input[type="password"] {
        width: calc(100% - 18px);
        padding: 8px;
        font-size: 0.9rem;
    }

    .text-danger-reset {
        font-size: 0.65rem;
    }
}