.card-video-data {
    max-width: 340px;
    border: 20px solid #4f4f60;
    background-color: #4f4f60;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: none;
}

.card-video-data iframe {
    max-width: 340px;
    object-fit: contain;
    border-radius: 10px;
}

.card-video-data:hover {
    border: 20px solid #373745;
    background-color: #373745;
}

@media (max-width: 500px) {
    .card-video-data iframe {
        max-width: 230px;
    }

    .card-video-data {
        max-width: w30px;
        font-size: 8pt;
    }
}